<div class="card mt-3">
    <div class="card-header">
      <div class="mx-2 my-2 float-left">
        <h3>
          <strong>
            Lista de Colaboradores
          </strong>
        </h3>
      </div>
      <div class="float-right row">        
        <button type="button" class="col-auto mx-1 my-1 btn btn-filt" (click)="onRefresh()">
            Atualizar
        </button>
        <button type="button" class="col-auto mx-1 my-1 btn btn-filt" [routerLink]="['/perfil']">
          Meu Perfil
        </button>
        <div class="col-auto mx-1 my-1 input-group" style="width: 25rem;">
          <input type="text" class="form-control" placeholder="Pesquise por Nome ou Email">
          <div class="input-group-append">
            <button class="btn btn-filt" type="button"> Pesquisar</button>
          </div>
        </div>
        <select class="col-auto mx-1 my-1 custom-select">
          <option value="" selected disabled>Departamentos</option> 
          <option *ngFor="let departament of departaments">{{ departament }}</option>
        </select>
        <select class="col-auto mx-1 my-1 custom-select">
          <option value="" selected disabled>Grupos</option> 
          <option *ngFor="let group of groups">{{ group }}</option>
        </select>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th scope="col">
              ID
            </th>
            <th scope="col">
              Foto
            </th>
            <th scope="col">
              Nome
            </th>
            <th scope="col">
              Email
            </th>
            <th scope="col">
              Departamento
            </th>
            <th scope="col">
              Grupo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perfil of perfis">
            <td>
              {{ perfil.Id }}
            </td>
            <td>
              <img [src]="perfil.Photo" class="img-fluid avatar">
            </td>
            <td>
              {{ perfil.Username }}
            </td>
            <td>
              {{ perfil.Email }}
            </td>
            <td>
              {{ perfil.Departament }}
            </td>
            <td>
              {{ perfil.Group }}
            </td>
            <td>
              <span class="float-right">
                <button class="col-auto mx-1 my-1 btn btn-outline-warning mb-1 btn-sm">
                  Atualizar
                </button>
  
                <button class="col-auto mx-1 my-1 btn btn-outline-danger mb-1 btn-sm">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
