<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>
            Lista de Colaboradores
        </h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['/new']">
            Novo Colaborador
        </button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">
            Atualizar
        </button>
        <input class="mx-1" type="text" style="width: 25rem" placeholder="Pesquise por Nome, Email, Departamento ou Grupo">
        <button type="button" class="btn btn-secondary">
            Pesquisar
        </button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>
                #
            </th>
            <th>
                Nome
            </th>
            <th>
                Departamento
            </th>
            <th>
                Grupo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perfil of perfis">
            <td>
                {{ perfil.Id }}
            </td>
            <td>
                {{ perfil.Username }}
            </td>
            <td>
                {{ perfil.Departament }}
            </td>
            <td>
                {{ perfil.Group }}
            </td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <!--
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja remover esse curso?</p>
      <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Nao</button>
    </div>
  </ng-template>

-->