<div class="d-flex justify-content-center background-box">
    <div class="mt-5 position-absolute top-50 start-50 translate-middle">
        <div class="ms-3 mt-5 card">
            <div class="row gx-4">
                <div class="col-12 col-md-4 col-sm-6">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGFib3JhdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
                    style="height: 100%; width: auto;"
                    >
                </div>
                <div class="col-24 col-md-8 col-sm-12">
                    <p class="mt-3 text-start h2">
                        <strong>
                            Registro
                        </strong>
                    </p>
                    <p class="mt-5 text-start fs-4">
                        Crie a sua conta.
                    </p>
                    <p class="mb-4 text-start fs-5">
                        Visualize o perfil de cada um de seus colegas colaboradores.
                    </p>
                    <form class="col my-3 mx-2">
                        <div class="mt-1 col-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="mt-2 col-auto">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="mt-2 col-auto">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="mt-2 col-auto">
                                    <input type="password" class="form-control" placeholder="Senha">
                                </div>
                                <div class="mt-2 col-auto">
                                    <input type="number" class="form-control" placeholder="Idade">
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <div class="col-auto">                                    
                                    <textarea class="form-control" placeholder="Biografia"></textarea>
                                </div>
                            </div>
                            <div class="mt-1 row">
                                <div class="col-auto">
                                    <label for="inputDepartament" class="form-label">
                                        Departamento:
                                    </label>
                                    <select class="form-select">
                                        <option value="Administração">Administração</option>
                                        <option value="Desenvolvimento">Desenvolvimento</option>
                                        <option value="Financeiro">Financeiro</option>
                                        <option value="Infraestrutura">Infraestrutura</option>
                                        <option value="Operacional">Operacional</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label for="inputDepartament" class="form-label">
                                        Grupo:
                                    </label>
                                    <select class="form-select">
                                        <option value="CLT">CLT</option>
                                        <option value="PJ">PJ</option>
                                        <option value="Freelancer">Freelancer</option>
                                        <option value="Parceiro">Parceiro</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="mt-3 mx-1 col-auto form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Ativo
                                </label>
                            </div>
                            <div class="mt-3 mx-1 col-auto form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Inativo
                                </label>
                            </div>
                        </div>                       
                        <div class="mt-3 col-md-4 col-sm-4 d-grip gap-2">
                            <button type="button" class="btn button-login">
                                Acessar
                            </button>
                        </div>
                        <div class="mt-4 col-18 col-md-9 col-sm-9">
                            <p class="fs-5">
                                Você já é um colaborador?
                                Acesse 
                                <a routerLink="/login">
                                    aqui
                                </a>
                                para realizar o login.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

