<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head>
<body>
    <div class="row">
       <h2>
         Home da API
       </h2>
       <h4>
           Não existe muita coisa aqui.
       </h4>
    </div>
</body>
